@model BookViewModel

@{
    ViewData["Title"] = "Spin the Wheel";
}

@Html.Partial("_Alert")

<h1>Spin The Wheel</h1>
<hr />

<div id="wrapper">
    <div id="wheel">
        <div id="inner-wheel">
            <div class="sec"><</div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
        </div>
        <div id="spin">
            <div id="inner-spin"></div>
        </div>
        <div id="shine"></div>
    </div>
</div>

<form id="spinForm">
    @Html.AntiForgeryToken()
</form>

<div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
    <form asp-controller="Random" asp-action="AddBookFromSpinTheWheel" method="post">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="bookModalLabel"></h5>
                    <input type="hidden" name="Id" />
                    <input type="hidden" name="Title" />
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="Picture" />
                    <img src="" alt="Book Picture" class="img-fluid mb-3 fixed-book-img" id="bookImage" />

                    <input type="hidden" name="Author" />
                    <p><strong>Author:</strong> <span id="bookAuthor"></span></p>

                    <input type="hidden" name="Description" />
                    <p><strong>Description:</strong> <span id="bookDescription"></span></p>

                    <input type="hidden" name="Genre" />
                    <p><strong>Genre:</strong> <span id="bookGenre"></span></p>

                    <input type="hidden" name="ISBN" />
                    <p><strong>ISBN:</strong> <span id="bookISBN"></span></p>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add to Want To Read</button>
                </div>
            </div>
        </div>
    </form>
</div>
