html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-outline-secondary {
    border: 2px solid #ccc;
    background-color: white;
    color: #333;
}

.selected {
    background-color: #007bff; 
    color: white; 
    border-color: #007bff; 
}

.btn-outline-secondary:hover {
    background-color: #f1f1f1; 
}

.progress-bar {
    color: black;
}

.cat-icon {
    position: fixed; 
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    width: 350px;
    height: auto;
}

.short-ln {
    width: 360px; 
}

.welcome {
    text-align: center;
}

.welcome-rg {
    position: absolute;
    right: 300px;
    top: 65px;
}

.avatar {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 40px;
    height: auto;
    z-index: 1000;
}

.submitReview {
    display: flex;
    justify-content: flex-end;
}

.dateReview {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
}

.fixed-book-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.user-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#wrapper {
    margin: 40px auto 0;
    width: 359px;
    position: relative;
}

#txt {
    display: none;
}

#wheel {
    width: 343px;
    height: 343px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 8px solid #EAE6D0;
    box-shadow: rgba(55, 51, 42, 0.2) 0px 0px 10px, rgba(55, 51, 42, 0.05) 0px 3px 0px;
    transform: rotate(0deg);
}

    #wheel:before {
        content: '';
        position: absolute;
        border: 5px solid rgba(55, 51, 42, 0.1);
        width: 333px;
        height: 333px;
        border-radius: 50%;
        z-index: 1000;
    }

#inner-wheel {
    width: 100%;
    height: 100%;
    -webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
    -moz-transition: all 6 cubic-bezier(0,.99,.44,.99);
    -o-transition: all 6s cubic-bezier(0,.99,.44,.99);
    -ms-transition: all 6s cubic-bezier(0,.99,.44,.99);
    transition: all 6s cubic-bezier(0,.99,.44,.99);
}


#wheel div.sec {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 83px 0;
    border-color: #88C2B0 transparent;
    transform-origin: 83px 200px;
    left: 90px;
    top: -28px;
    opacity: 1;
}

    #wheel div.sec:nth-child(1) {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        border-color: #D54227 transparent;
    }

    #wheel div.sec:nth-child(2) {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -mos-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        border-color: #C0702B transparent;
    }

    #wheel div.sec:nth-child(3) {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        border-color: #C98F2A transparent;
    }

    #wheel div.sec:nth-child(4) {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        border-color: #898E36 transparent;
    }

    #wheel div.sec:nth-child(5) {
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(255deg);
        border-color: #138D6C transparent;
    }

    #wheel div.sec:nth-child(6) {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        border-color: #81B999 transparent;
    }

    #wheel div.sec:nth-child(7) {
        transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        -o-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        border-color: #926C6c transparent;
    }

    #wheel div.sec:nth-child(8) {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        border-color: #D67260 transparent;
    }

    #wheel div.sec .fas {
        margin-top: -125px;
        color: rgba(55, 51, 42, 0.2);
        position: relative;
        z-index: 10000000;
        display: block;
        text-align: center;
        font-size: 36px;
        margin-left: -20px;
        text-shadow: rgba(234, 230, 208, 0.1) 0px -1px 0px, rgba(55, 51, 42, 0.2) 0px 1px 0px;
    }

#spin {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -34px 0 0 -34px;
    border-radius: 50%;
    box-shadow: rgba(55, 51, 42, 0.1) 0px 3px 0px;
    z-index: 1000;
    background: #EAE6D0;
    cursor: pointer;
    font-family: 'Overpass', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    #spin:after {
        content: "SPIN";
        font-size: 20px;
        text-align: center;
        line-height: 68px;
        color: #BFBBA6;
        text-shadow: 0 2px 0 #F2EEDD, 0 -2px 0 rgba(55, 51, 42, 0.3);
        position: relative;
        z-index: 100000;
        width: 68px;
        height: 68px;
        display: block;
    }

    #spin:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 28px 20px;
        border-color: transparent transparent #F2EEDD transparent;
        top: -12px;
        left: 14px;
    }

#inner-spin {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -27px;
    border-radius: 50%;
    background: red;
    z-index: 999;
    box-shadow: rgba(234, 230, 208, 1) 0px -2px 0px inset, rgba(234, 230, 208, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    background rgb(234, 230, 208);
    background: -moz-radial-gradient(center, ellipse cover, rgba(234, 230, 208, 1) 0%, rgba(211, 208, 193, 1) 100%);  
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(234, 230, 208, 1)), color-stop(100%, rgba(211, 208, 193, 1)));  
    background: -webkit-radial-gradient(center, ellipse cover, rgba(234, 230, 208, 1) 0%, rgba(211, 208, 193, 1) 100%);  
    background: -o-radial-gradient(center, ellipse cover, rgba(234, 230, 208, 1) 0%, rgba(211, 208, 193, 1) 100%);  
    background: -ms-radial-gradient(center, ellipse cover, rgba(234, 230, 208, 1) 0%, rgba(211, 208, 193, 1) 100%); 
    background: radial-gradient(ellipse at center, rgba(234, 230, 208, 1) 0%, rgba(211, 208, 193, 1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAE6D0', endColorst='#D3D0C1', GradientType=1 );
}

#spin:active #inner-spin {
    box-shadow: rgba(55, 51, 42, 0.4) 0px 0px 5px inset;
}

#spin:active:after {
    font-size: 18px;
}

.spin {
    -webkit-animation: hh 0.1s; 
    animation: hh 0.1s;
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.3);
}