@model ShelfViewModel

@{
    ViewData["Title"] = "Create Shelf";
}

<h1 class="mb-4">New Shelf</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>@ViewBag.ErrorMessage</strong>
    </div>
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-0 p-4">
            <div class="card-body">
                <h4 class="card-title mb-3">Create a New Shelf</h4>
                <form asp-controller="Shelf" asp-action="CreateNewShelf">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label">Shelf Name:</label>
                        <input asp-for="Name" class="form-control" placeholder="" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
                <form asp-controller="Shelf" asp-action="GoBack" method="post">
                    <button type="submit" class="btn btn-secondary">Go Back</button>
                </form>
            </div>
        </div>
    </div>
</div>
