@using Bookly.Data.Models
@model List<Shelf>

@{
    ViewData["Title"] = "Shelf Overview";
}

<h1 class="mb-4">My Shelves</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>@ViewBag.ErrorMessage</strong>
    </div>
}

<div class="mb-3">
    <form asp-controller="Shelf" asp-action="GoToCreatePage">
        <button type="submit" class="btn btn-primary">Create New Shelf</button>
    </form>
</div>

<div class="row">
    @foreach (Shelf shelf in Model)
    {
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">@shelf.Name</h5>
                    <div class="d-flex justify-content-between">
                        <form asp-controller="Shelf" asp-action="ViewShelf">
                            <input type="hidden" name="id" value="@shelf.Id" />
                            <button type="submit" class="btn btn-primary">View</button>
                        </form>
                        @if(shelf.Name!="Have Read")
                        {
                            <form asp-controller="Shelf" asp-action="RemoveShelf" method="post">
                                <input type="hidden" name="id" value="@shelf.Id" />
                                <button type="submit" class="btn btn-danger">Remove Shelf</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
