@using Bookly.Models
@model Shelf

@{
    ViewData["Title"] = "Shelf Details";
}

<h1>Shelf Details</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>@ViewBag.ErrorMessage</strong>
    </div>
}

@foreach (Book book in Model.Books)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Shelf" asp-action="ShelfDetails">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-groups">
                    <img src="@book.Picture" class="img-thumbnail" alt="@book.Title" />
                    <label>@book.Title</label>
                </div>
            </form>
            <form asp-controller="Book" asp-action="BookDetails">
                <div class="form-group">
                    <input type="submit" value="View" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
<form asp-controller="Shelf" asp-action="GoBack">
    <div class="form-group">
        <input type="submit" value="Go Back" class="btn btn-primary" />
    </div>
</form>