@model ShelfOverviewViewModel

@{
    ViewData["Title"] = "Shelf Overview";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-4">My Shelves</h1>
    <div class="mb-0">
        <form asp-controller="Shelf" asp-action="GoToCreatePage">
            <button type="submit" class="btn btn-dark">Create New Shelf</button>
        </form>
    </div>
</div>

<hr />

@Html.Partial("_Alert")

<div class="row">
    @foreach (RegularShelfViewModel shelf in Model.RegularShelves)
    {
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">@shelf.Shelf.Name</h5>
                    <div class="d-flex justify-content-between">
                        @if (shelf.Shelf.Name != "Currently Reading")
                        {
                            <form asp-controller="Shelf" asp-action="ViewShelf">
                                <input type="hidden" name="id" value="@shelf.Shelf.Id" />
                                <button type="submit" class="btn btn-dark">View</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Shelf" asp-action="ViewCurrentlyReadingShelf">
                                <input type="hidden" name="id" value="@shelf.Shelf.Id" />
                                <button type="submit" class="btn btn-dark">View</button>
                            </form>
                        }
                        @if(shelf.Shelf.Name!="Have Read" && shelf.Shelf.Name != "Want To Read" && shelf.Shelf.Name != "Currently Reading")
                        {
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@shelf.Shelf.Id">
                                Delete
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@foreach (DeleteModalViewModel modal in Model.DeleteModal)
{
    @await Html.PartialAsync("_DeleteModal", modal)
}