@using Bookly.Models
@model List<Shelf>

@{
	ViewData["Title"] = "Shelf Overview";
}

<h1>My shelves</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>@ViewBag.ErrorMessage</strong>
    </div>
}

<form asp-controller="Shelf" asp-action="GoToCreatePage">
    <div class="form-group">
        <input type="submit" value="Create new shelf" class="btn btn-primary" />
    </div>
</form>

@foreach(Shelf shelf in Model)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Shelf" asp-action="ShelfOverview">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-groups">
                    <label>@shelf.Name</label>
                </div>
            </form>
            <form asp-controller="Shelf" asp-action="ViewShelf">
                <div class="form-group">
                    <input type="submit" value="View" class="btn btn-primary" />
                    <input name="id" value="@shelf.Id" type="hidden" />
                </div>
            </form>
        </div>
    </div>
}